<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Automation Suite" thread-count="3">

    <test name="suit">
        <classes>
            <class name="AddressTest"/>
            <class name="ShoppingTest"/>
            <class name="CartTest"/>
        </classes>

    </test>


</suite>
